body {
	margin: 0px;
	padding: 0px;
}

.container {
	background-color: red;
	padding: 5px;
	border: 5px solid blue;
	margin: 10px;
}

.conteudo {
	background-color: lightgrey;
	border: 5px solid green;
	padding: 5px;
}

.square {
	height: 100px;
	width: 100px;
	background-color: red;
	border: 10px solid black;
	box-sizing: border-box;
}
